### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#find the length of the player list
Total_Players=len(purchase_data['SN'].value_counts())
#put it into a new dataframe 
Total_Player_df= pd.DataFrame({"Player Total": Total_Players}, index=[0])
Total_Player_df

   Player Total
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Finding the number of unique items
Unique_Items= len(purchase_data["Item ID"].unique())
Unique_Items

179

In [5]:
#Calculating average price 
Average_Price= (purchase_data["Price"].mean())
#Cut down the amount of decimals
Average_Price_Decimal= round(Average_Price, 2)
# Add money symbol
Price= str("$"+ str(Average_Price_Decimal))
Price

'$3.05'

In [6]:
#Finding the total number of purchases
Purchases= purchase_data["Purchase ID"].count()
Purchases

780

In [7]:
#Total Revenue
Revenue= Average_Price*Purchases
#cut down decimals
Revenue_dec= round(Revenue, 2)
#Revenue as string with $ 
Total_Revenue= str("$"+ str(Revenue_dec))
Total_Revenue

'$2379.77'

In [8]:
#Putting all this info into its own data frame using dictionary key:value
Purchase_df= pd.DataFrame({'Number of Unique Items': [Unique_Items], 
                           'Average Price': [Price], 
                           'Number of Purchases':[Purchases], 
                           'Total Revenue':[Total_Revenue]})
Purchase_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Gender groupbys
Gender= purchase_data.groupby(['Gender'])
Gender.count()

#Count all Male Players 
Males= purchase_data.groupby(['Gender']).get_group(('Male'))
#Remove repeats 
Male_Unique= Males['SN'].unique()
#Get total count
Male_Count= len(Male_Unique)
Male_Count

484

In [10]:
#Percentage /Total Players
Percent_M= round((Male_Count/ Total_Players)* 100, 2)
#Adding % 
Percent_Male= str(str(Percent_M)+ "%")
Percent_Male

'84.03%'

In [11]:
#Do the same for Female
Females= purchase_data.groupby(['Gender']).get_group(('Female'))
#Remove repeats 
Female_Unique= Females['SN'].unique()
#Get total count
Female_Count= len(Female_Unique)
Female_Count

81

In [12]:
#Percentage /Total Players
Percent_F= round((Female_Count/ Total_Players)* 100, 2)
#Adding % 
Percent_Female= str(str(Percent_F)+ "%")
Percent_Female

'14.06%'

In [13]:
#Do the same for other/non-disclosed
Other= purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
#Remove repeats 
Other_Unique= Other['SN'].unique()
#Get total count
Other_Count= len(Other_Unique)
Other_Count

11

In [14]:
#Percentage /Total Players
Percent_O= round((Other_Count/ Total_Players)* 100, 2)
#Adding % 
Percent_Other= str(str(Percent_O)+ "%")
Percent_Other

'1.91%'

In [15]:
#Put all this info into a dataframe 
Gender_df= pd.DataFrame({'Gender':['Male','Female','Other/ Non-Disclosed'],'Total Count': [Male_Count, Female_Count, Other_Count], 
                           'Percentage of Players': [Percent_Male, Percent_Female, Percent_Other]})
Gender_df

                 Gender  Total Count Percentage of Players
0                  Male          484                84.03%
1                Female           81                14.06%
2  Other/ Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
#Keep the group by variables to find:
Gender.count()

#use variables from above Males, Females, and Other for purchase count
Purchase_Count_M = len(Males)
Purchase_Count_F = len(Females)
Purchase_Count_O = len(Other)

#Average Purchase Price
#Male
Male_Average_Price= purchase_data.loc[purchase_data["Gender"]== "Male", "Price"].mean()
Male_Average_Price_Rounded= round((Male_Average_Price), 2)
Male_Average_Price_Rounded_Money= str("$"+ str(Male_Average_Price_Rounded))
#Female
Female_Average_Price= purchase_data.loc[purchase_data["Gender"]== "Female", "Price"].mean()
Female_Average_Price_Rounded= round((Female_Average_Price),2)
Female_Average_Price_Rounded_Money= str("$"+ str(Female_Average_Price_Rounded))
#Other
Other_Average_Price= purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed", "Price"].mean()
Other_Average_Price_Rounded= round((Other_Average_Price),2)
Other_Average_Price_Rounded_Money= str("$"+ str(Other_Average_Price_Rounded))

In [17]:
#Total Purchase Value
#Male
Male_Purchase_Value= purchase_data.loc[purchase_data["Gender"]== "Male", "Price"].sum()
Male_Purchase_Value_Rounded= round((Male_Purchase_Value), 2)
Male_Purchase_Value_Rounded_Money= str("$"+ str(Male_Purchase_Value_Rounded))
#Female
Female_Purchase_Value= purchase_data.loc[purchase_data["Gender"]== "Female", "Price"].sum()
Female_Purchase_Value_Rounded= round((Female_Purchase_Value), 2)
Female_Purchase_Value_Rounded_Money= str("$"+ str(Female_Purchase_Value_Rounded))
#Other
Other_Purchase_Value= purchase_data.loc[purchase_data["Gender"]== "Other/ Non-Disclosed", "Price"].sum()
Other_Purchase_Value_Rounded= round((Other_Purchase_Value), 2)
Other_Purchase_Value_Rounded_Money= str("$"+ str(Other_Purchase_Value_Rounded))

In [18]:
#AVERAGES
#Purchase_Count_M = len(Males)
#Male
Male_Av_PP= Male_Purchase_Value/Purchase_Count_M
Male_Av_PP_Rounded= round((Male_Av_PP),2)
Male_Av_PP_Rounded_Money= str("$"+ str(Male_Av_PP_Rounded))
#Female
#Purchase_Count_F = len(Females)
Female_Av_PP= Female_Purchase_Value/Purchase_Count_F
Female_Av_PP_Rounded= round((Female_Av_PP),2)
Female_Av_PP_Rounded_Money= str("$"+ str(Female_Av_PP_Rounded))
#Other
#Purchase_Count_O = len(Other)
Other_Av_PP= Other_Purchase_Value/Purchase_Count_O
Other_Av_PP_Rounded= round((Other_Av_PP),2)
Other_Av_PP_Rounded_Money= str("$"+ str(Other_Av_PP_Rounded))

In [19]:
#Put it all in a data frame
Gender_Purchases_df= pd.DataFrame({'Gender':['Male','Female','Other/ Non-Disclosed'],
                                   'Purchase Count': [Purchase_Count_M, Purchase_Count_F, Purchase_Count_O], 
                           'Average Purchase Price': [Male_Average_Price_Rounded_Money, Female_Average_Price_Rounded_Money, Other_Average_Price_Rounded_Money],
                                  'Total Purchase Value': [Male_Purchase_Value_Rounded_Money, Female_Purchase_Value_Rounded_Money, Other_Purchase_Value_Rounded_Money],
                                  'Average Purchase Total PP': [Male_Av_PP_Rounded_Money, Female_Av_PP_Rounded_Money, Other_Av_PP_Rounded_Money]})

Gender_Purchases_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total PP
0,Male,652,$3.02,$1967.64,$3.02
1,Female,113,$3.2,$361.94,$3.2
2,Other/ Non-Disclosed,15,$3.35,$0.0,$0.0

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
#Create your bins 
bins= [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 100]
#Name those bins
group_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [21]:
#create new df to work with 
age_group_df= purchase_data
#Create new column to add the bins to the data frame under Age Summary 
age_group_df["Age Summary"]=pd.cut(age_group_df["Age"], bins, labels=group_names, include_lowest= True)
#grouping and pulling unique values 
grouped_age_group_df= age_group_df.groupby('Age Summary')
total_groups_age= grouped_age_group_df["SN"].nunique()

#find the percentages
percents= round(total_groups_age/ Total_Players *100, 2)

#putting info into a new df 
age_bin_table= pd.DataFrame({
    "Total Count": total_groups_age,
    "Percentage of Players": percents
})
age_bin_table["Percentage of Players"] = age_bin_table["Percentage of Players"].map("{0:,.2f}%".format)
age_bin_table.index.name = None
age_bin_table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Create your bins 
bins= [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 100]
#Name those bins
group_names= ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_analysis=purchase_data
purchase_analysis['Age Summary']= pd.cut(purchase_analysis["Age"], bins, labels=group_names)

#find purchase count 
count= grouped_age_group_df["SN"].count()
#find average
avg_price = round(grouped_age_group_df["Price"].mean(),2)

#Total Purchase $
Total= round(grouped_age_group_df["Price"].sum(),2)

#per person calculation 
per_person= round(Total/ total_groups_age, 2)

#DataFrame 
analysis_table = pd.DataFrame({
    "Purchase Count": count, 
    "Average Purchase Price": avg_price,
    "Total Purchase Value": Total,
    "Avg Total Purchase per Person": per_person
})
analysis_table["Average Purchase Price"] = analysis_table["Average Purchase Price"].map("${0:,.2f}".format)
analysis_table["Total Purchase Value"] = analysis_table["Total Purchase Value"].map("${0:,.2f}".format)
analysis_table["Avg Total Purchase per Person"] = analysis_table["Avg Total Purchase per Person"].map("${0:,.2f}".format)
analysis_table

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#create new varaible for purchase data
top_spender_df= purchase_data

top_spenders= top_spender_df.groupby('SN')

#calculate purchase count 
purchase_count= top_spenders["Purchase ID"].count()

#Average Purchase Price
av_pp= round(top_spenders["Price"].mean(),2)

#total value
total_spender_value= top_spenders["Price"].sum()

#create your dataframe 
top_df= pd.DataFrame({ 
    "Purchase Count":purchase_count,
    "Average Purchase Price": av_pp,
    "Total Purchase Value": total_spender_value
})

sorting = top_df.sort_values(["Total Purchase Value"], ascending=False).head()
sorting

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
#seek out 5 most frequently bought items 
#Pull out columns: Item ID, Item Name, and Price
popular= purchase_data[["Item ID", "Item Name","Price"]]

#groups 
popular_groups= popular.groupby(["Item ID", "Item Name"])
#purchase count
popular_purchase_count= popular_groups["Price"].count()

#Purchase sum
popular_sum= popular_groups["Price"].sum()
#round decimal 
sum_decimal= round((popular_sum),2)

#value = sum/count
value=popular_sum/popular_purchase_count
#limit decimal places 
value_decimal= round((value), 2)


#Put items in a dataframe
popular_df= pd.DataFrame ({
    "Purchase Count": popular_purchase_count,
    "Item Price": value_decimal,
    "Total Purchase Value":sum_decimal
    
})

sorting_1 = popular_df.sort_values(["Purchase Count"], ascending=False).head()
sorting_1

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
sorting_1 = popular_df.sort_values(["Total Purchase Value"], ascending=False).head()
sorting_1

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80